.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #76C2E2;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
padding-top: 17px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form{
    padding : 20px;
}
.TodoLength {
    color : red;
}
.NbrTodo {
    padding-bottom: 10px;
}
.Explication {
    font-size : 13px;
    font-style: italic;
    color : grey;
}
.todo {
    padding-top : 15px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
